* {
  box-sizing: border-box;
}

.App-Game {
  position: absolute;
  left: 0;
  top: 0;
  width: 67vw;
  height: 100vh;
}

.App-Settings {
  position: absolute;
  left: 67vw;
  top: 0;
  width: 33vw;
  height: 33vh;
}